body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f1f2f6;
}
a {
  text-decoration: none !important;
}
#wrapper {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: linear-gradient(to bottom right, #343a40, #23272b);
  transition: all 0.3s;
}

.sidebar .nav-link {
  font-size: 16px;
  padding: 10px 15px;
  transition: 0.3s;
}

.sidebar .nav-link:hover {
  background-color: #495057;
  border-radius: 5px;
}

#page-content-wrapper {
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 991.98px) {
  #sidebar-wrapper {
    margin-left: -250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
}
